body{
    background-color: black;
    color: rgb(137, 121, 252);
}

.LeftAlign{
    border: 5px solid;
    border-color: rgb(249, 249, 87);
    float: left;
    height: 25px;
    width: 35%;
}

.CenterAlign{ 
    border: 5px solid;
    border-color: rgb(249, 249, 87);
    float: left;
    height: 25px;
    width: 35%;
}

.CenterAlign{
     border: 5px solid;
    border-color: rgb(249, 249, 87);
    float: left;
    height: 25px;
    width: 35%;
}