body{
    background-color: black;
    color: rgb(81, 59, 248);
}

.LeftAlign{
    border: 5px solid;
    border-color: rgb(255, 255, 105);
    float: left;
    height: 25px;
    width: 35%;
}

.CenterAlign{ 
    border: 5px solid;
    border-color: rgb(247, 251, 45);
    float: left;
    height: 25px;
    width: 35%;
}

.CenterAlign{
     border: 5px solid;
    border-color: rgb(226, 216, 20);
    float: left;
    height: 25px;
    width: 35%;
}